PAY_DB_HOST=localhost
PAY_DB_PORT=5432
PAY_DB_DATABASE=selectify
PAY_DB_MAX_IDLE=5
PAY_DB_MAX_OPEN=25
PAY_DB_MAX_LIFETIME=5m

# Read-Write Database Credentials
PAY_DB_RW_USER=selectify_rw
PAY_DB_RW_PASSWORD=passVVord

# Read-Only Database Credentials
PAY_DB_RO_USER=selectify_ro
PAY_DB_RO_PASSWORD=passVVrd

PAY_JWT_SECRET=testkey
PAY_JWT_ISSUER=alwis.dev
PAY_JWT_ACCESS_TTL=15m

PAY_STRIPE_SECRET_KEY=test_key
PAY_STRIPE_WEBHOOK_SECRET=test_key