MRC_DB_HOST=localhost
MRC_DB_PORT=5432
MRC_DB_DATABASE=selectify
MRC_DB_MAX_IDLE=5
MRC_DB_MAX_OPEN=25
MRC_DB_MAX_LIFETIME=5m
MRC_CDN_URL=

# Read-Write Database Credentials
MRC_DB_RW_USER=selectify_rw
MRC_DB_RW_PASSWORD=passVVord

# Read-Only Database Credentials
MRC_DB_RO_USER=selectify_ro
MRC_DB_RO_PASSWORD=passVVrd