API_DB_HOST=localhost
API_DB_PORT=5432
API_DB_DATABASE=selectify
API_DB_MAX_IDLE=5
API_DB_MAX_OPEN=25
API_DB_MAX_LIFETIME=5m

# Read-Write Database Credentials
API_DB_RW_USER=selectify_rw
API_DB_RW_PASSWORD=passVVord

# Read-Only Database Credentials
API_DB_RO_USER=selectify_ro
API_DB_RO_PASSWORD=passVVrd

API_JWT_SECRET=testkey
API_JWT_ISSUER=alwis.dev
API_JWT_ACCESS_TTL=15m

API_GRPC_PAYMENT_ADDRESS=localhost:3002