API_DB_HOST=localhost
API_DB_PORT=5432
API_DB_DATABASE=selectify
API_DB_MAX_IDLE=5
API_DB_MAX_OPEN=25
API_DB_MAX_LIFETIME=5m

# Read-Write Database Credentials
API_DB_RW_USER=selectify_rw
API_DB_RW_PASSWORD=passVVord

# Read-Only Database Credentials
API_DB_RO_USER=selectify_ro
API_DB_RO_PASSWORD=passVVrd

API_JWT_SECRET=testkey
API_JWT_ISSUER=alwis.dev
API_JWT_ACCESS_TTL=15m

API_GRPC_PAYMENT_ADDRESS=localhost:3002

API_S3_ENDPOINT=https://<account_id>.r2.cloudflarestorage.com
API_S3_BUCKET_NAME=selectify
API_S3_ACCESS_KEY_ID=testKey
API_S3_SECRET_ACCESS_KEY=testKey
API_S3_PUBLIC_BASE_URL=https://cdn.selectify.alwis.dev

API_SQS_QUEUE_URL=https://sqs.<region>.amazonaws.com/<account>/<queue>
API_SQS_REGION=us-east-1
API_SQS_ACCESS_KEY_ID=
API_SQS_SECRET_ACCESS_KEY=